Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [10]:
import re

sub = ("Python, Exercises,,PHP exercises,")
x = re.sub(r"[,.]",":",sub)
print(x)

Python: Exercises::PHP exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [14]:
import pandas as pd
import re

data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)

def clean_text(text):
    text = re.sub(r'XXXXX|\d+', '', text)
    text = re.sub(r'[^\w\s]', '', text)
    text = text.strip()
    return text
df['SUMMARY'] = df['SUMMARY'].apply(clean_text)
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [16]:
import re
def find_word(text):
    pattern = re.compile(r'\b\w{4,}\b')
    long_words = pattern.findall(text)
    return long_words

In [17]:
text = "There is small garden in my house"
result = find_word(text)
print(result)

['There', 'small', 'garden', 'house']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [18]:
import re
def find_word(text):
    pattern = re.compile(r'\b\w{3,5}\b')
    long_words = pattern.findall(text)
    return long_words

In [19]:
text = "There is small garden in my house"
result = find_word(text)
print(result)

['There', 'small', 'house']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World

In [24]:
def remove_parentheses(text_list):
    
    pattern = re.compile(r'\s*\([^)]*\)')
    cleaned_list = [pattern.sub('', text).strip() for text in text_list]
    return cleaned_list

In [25]:
text_list = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parentheses(text_list)
print(''.join(result))

examplehr@fliprobogithubHelloData

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [26]:
import re

text = "ImportanceOfRegularExpressionsInPython"
result = re.findall(r'[A-Z][a-z]*', text)

print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [32]:
import re

def number_space(text):
    result = re.sub(r'(\d+)', r' \1', text)
    return result

In [33]:
text = "RegularExpression1IsAn2ImportantTopic3InPython"
result = number_space(text)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [40]:
import re

def insert_space(text):
   result = re.sub(r'(?<=[a-zA-Z])(?=[A-Z0-9])', ' ', text)
   return result

In [41]:
text = "RegularExpression1IsAn2ImportantTopic3InPython"
result = insert_space(text)
print(result)

Regular Expression 1Is An 2Important Topic 3In Python

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [44]:
import re

def string(text):
   pattern = re.compile(r'^[a-zA-Z0-9_]+$')
   if pattern.match(text):
        return True
   else:
        return False

Question 12- Write a Python program where a string will start with a specific number.

In [50]:
def starts_with_number(text, number):
  
    pattern = re.compile(r'^' + str(number))
    if pattern.match(text):
        return True
    else:
        return False

Question 13- Write a Python program to remove leading zeros from an IP address

In [51]:
def remove(Ip_address):
    cleaned_ip = re.sub(r'\b0+(\d)', r'\1', Ip_address)
    return cleaned_ip

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [58]:
sample_text = """On August 15th 1947 that India was declared independent from British colonialism, 
and the reins of control were handed over to the leaders of the Country."""

with open('sample_text.txt', 'w') as file:
    file.write(sample_text)

In [55]:
def extract(file_path):
    with open(file_path, 'r') as file:
        text = file.read()
    pattern = re.compile(r'\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b')
    match = pattern.search(text)
    if match:
        return match.group(0)
    else:
        return None

In [56]:
file_path = 'sample_text.txt'
date_string = extract(file_path)
print(f"Extracted Date: {date_string}")

Extracted Date: August 15th 1947

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [60]:
from datetime import datetime

def convert_date_format(date_str):
    date_object = datetime.strptime(date_str, '%Y-%m-%d')
    new_date_str = date_object.strftime('%d-%m-%Y')
    return new_date_str

In [61]:
date_str = "2024-08-23"
converted_date = convert_date_format(date_str)
print(converted_date)

23-08-2024

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [63]:
def decimal_numbers(text):
    number = re.compile(r'\b\d+\.\d{1,2}\b')
    matches = number.findall(text)
    return matches
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result = decimal_numbers(sample_text)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']