Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

First get the webpage https://www.shine.com/
Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
Then click the searchbutton.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashu_\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ashu_\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashu_\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get("https://www.shine.com/")

In [6]:
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [7]:
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [8]:
search= driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [11]:
location_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [12]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [13]:
print(len(job_title),len(job_location),len(company_name))

20 20 20

In [29]:
import pandas as pd
df=pd.DataFrame({"Title":job_title,"Location":job_location,"Company":company_name})
df.head(10)

,Title,Location,Company
0,Data Analyst,Bengaluru,Info Test Ehire Campaign
1,Data Analyst,Bengaluru(HSR Layout),Simply Vyapar Apps\n3.7\n294 Reviews
2,Data Analyst,Hybrid - Bengaluru,randstad offshore\nPosted by Randstad
3,Data Analyst,"Gurugram, Bengaluru",Genpact\n3.9\n27735 Reviews
4,Data Analyst,Bengaluru(HAL Airport Area),Manipal Hospitals\n4.2\n1183 Reviews
5,Data Analyst (Contractual role) - Chubb - Bang...,Hybrid - Bengaluru,Chubb\n3.8\n137 Reviews
6,Data Analyst,Bengaluru,Eastvantage\n2.6\n11 Reviews
7,Data Analyst,"Gurugram, Bengaluru",Delhivery\n3.9\n5473 Reviews
8,Data Analyst (Excel),Remote,Rocket Careers
9,Data Analyst _Bengaluru_Fresher/Experienced,Bengaluru,Creative Hr Solutions

Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [15]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashu_\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ashu_\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashu_\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [16]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [17]:
driver = webdriver.Chrome()

In [18]:
driver.get(" https://www.naukri.com/")

In [19]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [20]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [21]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [22]:
job_title=[]
job_location=[]
company_name=[]

In [23]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title "]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [24]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [25]:
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [26]:
print(len(job_title),len(job_location),len(company_name))

20 20 20

In [28]:
import pandas as pd
df = pd.DataFrame({'title':job_title,'location':job_location,'company':company_name})
df.head(10)

,title,location,company
0,Data Analyst,Bengaluru,Info Test Ehire Campaign
1,Data Analyst,Bengaluru(HSR Layout),Simply Vyapar Apps\n3.7\n294 Reviews
2,Data Analyst,Hybrid - Bengaluru,randstad offshore\nPosted by Randstad
3,Data Analyst,"Gurugram, Bengaluru",Genpact\n3.9\n27735 Reviews
4,Data Analyst,Bengaluru(HAL Airport Area),Manipal Hospitals\n4.2\n1183 Reviews
5,Data Analyst (Contractual role) - Chubb - Bang...,Hybrid - Bengaluru,Chubb\n3.8\n137 Reviews
6,Data Analyst,Bengaluru,Eastvantage\n2.6\n11 Reviews
7,Data Analyst,"Gurugram, Bengaluru",Delhivery\n3.9\n5473 Reviews
8,Data Analyst (Excel),Remote,Rocket Careers
9,Data Analyst _Bengaluru_Fresher/Experienced,Bengaluru,Creative Hr Solutions

Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses. Note: That all of the above steps have to be done
by coding only and not manually.

In [30]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashu_\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ashu_\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashu_\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [31]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [32]:
driver = webdriver.Chrome()

In [33]:
driver.get(" https://www.flipkart.com/")

In [34]:
sun_glass=driver.find_element(By.CLASS_NAME,"Pke_EE")
sun_glass.send_keys('sunglasses')

In [35]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [36]:
company_name=[]
glass_price=[]
glass_discount=[]

In [37]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [38]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in price_tags:
    price=i.text
    glass_price.append(price)

In [39]:
discount_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in discount_tags:
    discount=i.text
    glass_discount.append(discount)

In [40]:
search=driver.find_element(By.CLASS_NAME,"_9QVEpD")
search.click()

In [41]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in company_tags:
    company=i.text
    company_name.append(company)


price_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in price_tags:
    price=i.text
    glass_price.append(price)


discount_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in discount_tags:
    discount=i.text
    glass_discount.append(discount)

In [42]:
search=driver.find_element(By.CLASS_NAME,"_9QVEpD")
search.click()

In [43]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in company_tags:
    company=i.text
    company_name.append(company)


price_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in price_tags:
    price=i.text
    glass_price.append(price)


discount_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in discount_tags:
    discount=i.text
    glass_discount.append(discount)

In [44]:
print(len(company_name),len(glass_price),len(glass_discount))

120 120 120

In [45]:
import pandas as pd
df = pd.DataFrame({'company':company_name,'price':glass_price,'discount':glass_discount})
df.head(100)

           company   price discount
0    VINCENT CHASE    ₹979     ₹979
1    VINCENT CHASE    ₹696     ₹696
2         Fastrack    ₹534     ₹534
3         Fastrack    ₹470     ₹470
4   EBRACOLLECTION    ₹214     ₹214
..             ...     ...      ...
95        Fastrack    ₹593     ₹593
96   VINCENT CHASE    ₹799     ₹799
97   VINCENT CHASE    ₹710     ₹710
98   VINCENT CHASE  ₹1,499   ₹1,499
99        Fastrack    ₹484     ₹484

[100 rows x 3 columns]