Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashu_\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ashu_\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashu_\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get(" https://www.naukri.com/")

In [5]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [6]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [7]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
search = driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[4]/div[2]/div[2]/label/p")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
job_experiance=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title "]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [11]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="loc-wrap ver-line"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [12]:
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]')
for i in location_tags:
    company=i.text
    company_name.append(company)

In [13]:
experiance_tags=driver.find_elements(By.XPATH,'//span[@class="exp-wrap"]')
for i in experiance_tags:
    experiance=i.text
    job_experiance.append(experiance)

In [14]:
print(len(job_title),len(job_location),len(company_name),len(job_experiance))

25 25 25 25

In [15]:
import pandas as pd
df=pd.DataFrame({'title':job_title,'location':job_location,'company':company_name,'experiance':job_experiance})
df.head(10)

,title,location,company,experiance
0,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...","Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",3-7 Yrs
1,Data Scientist (AI/ML)|| US Based MNC || Noida,Hybrid - Noida,Hybrid - Noida,3-5 Yrs
2,Data Scientist/Data Analyst - LLM,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...","Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",2-6 Yrs
3,Data Analyst,"New Delhi, Gurgaon/Gurugram","New Delhi, Gurgaon/Gurugram",0-3 Yrs
4,Data Scientist,,,3-8 Yrs
5,,,,
6,,,,
7,,,,
8,Data Scientist,Gurugram,Gurugram,3-8 Yrs
9,Data Scientist,Ghaziabad,Ghaziabad,3-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [16]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashu_\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ashu_\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashu_\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [17]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [18]:
driver = webdriver.Chrome()

In [19]:
driver.get('https://www.shine.com/')

In [20]:
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [21]:
location = driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [22]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [23]:
job_title=[]
job_location=[]
company_name=[]

In [24]:
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [25]:
location_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [26]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [27]:
print(len(job_title),len(job_location),len(company_name))

20 20 20

In [28]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name})
df.head(10)

,Title,Location,Company
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8\n0 to 4 Yrs\n10 Positions,appsoft solutions
1,Data Analyst,Bangalore\n+4\n0 to 4 Yrs\n10 Positions,aryan technology
2,Risk Data Analyst (Senior Quantitative Analyst),Bangalore\n+1\n4 to 9 Yrs,locus enterprises
3,Healthcare Data Analyst,Bangalore\n+8\n8 to 13 Yrs\n99 Positions,spento papers (india) llp
4,Senior Data Analyst,Bangalore\n+8\n2 to 7 Yrs\n2 Positions,gallagher and mohan private limited
5,Urgent Hiring For Data Analyst,Bangalore\n+2\n0 to 4 Yrs\n3 Positions,diraa hr services hiring for diraa ...
6,Data Catalog with Data Goverance,Bangalore\n+8\n6 to 11 Yrs\n10 Positions,ltimindtree limited
7,Data Governance Analyst,Bangalore\n5 to 8 Yrs\n21 Positions,white horse manpower consultancy (p...
8,Healthcare Analyst,Bangalore\n+7\n0 to 4 Yrs\n10 Positions,techno endura
9,Data Science Analytics,Bangalore\n+7\n5 to 8 Yrs,mackenzie modern it solutions priva...

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F
LIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [29]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashu_\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ashu_\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashu_\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [30]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [31]:
driver=webdriver.Chrome()

In [32]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [33]:
Phone_Rating=[]
Review_Summery=[]
Full_Review =[]

In [34]:
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in Rating_tags:
    Rating=i.text
    Phone_Rating.append(Rating)

In [35]:
Review_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in Review_tags:
    Review=i.text
    Review_Summery.append(Review)

In [36]:
Full_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in Full_tags:
    Full=i.text
    Full_Review.append(Full)

In [37]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
search.click()

In [38]:
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in Rating_tags:
    Rating=i.text
    Phone_Rating.append(Rating)

Review_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in Review_tags:
    Review=i.text
    Review_Summery.append(Review)

Full_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in Full_tags:
    Full=i.text
    Full_Review.append(Full)

In [39]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
search.click()

In [40]:
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in Rating_tags:
    Rating=i.text
    Phone_Rating.append(Rating)

Review_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in Review_tags:
    Review=i.text
    Review_Summery.append(Review)

Full_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in Full_tags:
    Full=i.text
    Full_Review.append(Full)

In [41]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
search.click()

In [42]:
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in Rating_tags:
    Rating=i.text
    Phone_Rating.append(Rating)

Review_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in Review_tags:
    Review=i.text
    Review_Summery.append(Review)

Full_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in Full_tags:
    Full=i.text
    Full_Review.append(Full)

In [43]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[5]/div/div/nav/a[12]")
search.click()

In [44]:
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in Rating_tags:
    Rating=i.text
    Phone_Rating.append(Rating)

Review_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in Review_tags:
    Review=i.text
    Review_Summery.append(Review)

Full_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in Full_tags:
    Full=i.text
    Full_Review.append(Full)

In [45]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[7]/div/div/nav/a[12]")
search.click()

In [46]:
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in Rating_tags:
    Rating=i.text
    Phone_Rating.append(Rating)

Review_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in Review_tags:
    Review=i.text
    Review_Summery.append(Review)

Full_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in Full_tags:
    Full=i.text
    Full_Review.append(Full)

In [47]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[5]/div/div/nav/a[12]")
search.click()

In [48]:
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in Rating_tags:
    Rating=i.text
    Phone_Rating.append(Rating)

Review_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in Review_tags:
    Review=i.text
    Review_Summery.append(Review)

Full_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in Full_tags:
    Full=i.text
    Full_Review.append(Full)

In [49]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[6]/div/div/nav/a[12]")
search.click()

In [50]:
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in Rating_tags:
    Rating=i.text
    Phone_Rating.append(Rating)

Review_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in Review_tags:
    Review=i.text
    Review_Summery.append(Review)

Full_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in Full_tags:
    Full=i.text
    Full_Review.append(Full)

In [51]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[6]/div/div/nav/a[12]")
search.click()

In [52]:
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in Rating_tags:
    Rating=i.text
    Phone_Rating.append(Rating)

Review_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in Review_tags:
    Review=i.text
    Review_Summery.append(Review)

Full_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in Full_tags:
    Full=i.text
    Full_Review.append(Full)

In [53]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[3]/div/div/nav/a[12]")
search.click()

In [54]:
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in Rating_tags:
    Rating=i.text
    Phone_Rating.append(Rating)

Review_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in Review_tags:
    Review=i.text
    Review_Summery.append(Review)

Full_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in Full_tags:
    Full=i.text
    Full_Review.append(Full)

In [55]:
print(len(Phone_Rating),len(Review_Summery),len(Full_Review))

44 44 44

In [56]:
df=pd.DataFrame({'Rating':Phone_Rating,'Review':Review_Summery,'Full':Full_Review})
df.head(100)

,Rating,Review,Full
0,5,Terrific,Very very good
1,5,Best in the market!,Good Camera
2,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
3,5,Worth every penny,Feeling awesome after getting the delivery of ...
4,5,Terrific purchase,Value for money 😍
5,5,Perfect product!,Photos super
6,5,Wonderful,This is amazing at all
7,5,Perfect product!,V Good all
8,5,Excellent,NYC
9,5,Brilliant,very good camera quality
10,5,Awesome,iPhone 11 is a good phone. Not a very big diff...
11,5,Must buy!,It’s really awesome
12,5,Fabulous!,It’s very good battery life and display and vi...
13,5,Just wow!,Perfect Product!!
14,5,Fabulous!,Super🔥 and good performance 👌❤️
15,5,Terrific purchase,Value for money 🖤🖤
16,5,Brilliant,Excellent Phone.
17,5,Simply awesome,Really satisfied with the Product I received.....
18,5,Super!,Good product 👌I love iPhone
19,5,Highly recommended,My first ever I phone and awesome performance ...
20,5,Wonderful,Excellent Fabulous Adorable Iphone 11 Value fo...
21,5,Brilliant,Perfect iPhone on this budget!! Camera and the...
22,5,Terrific purchase,Awesome Thanks Flipkart
23,5,Brilliant,Best phone
24,5,Classy product,Outstanding performance this phone
25,5,Excellent,A perfect phone and a good battery super camer...
26,5,Perfect product!,Very nice iPhone 11 i lake
27,5,Brilliant,Fantastic phone
28,5,Must buy!,Excellent
29,5,Terrific,Really worth of money. i just love it. It is t...
30,5,Just wow!,Best in class. Battery backup is good especial...
31,5,Worth every penny,I love the design better than iPhone 12 in loo...
32,5,Terrific,Love it
33,4,Wonderful,camera is very good.
34,5,Terrific purchase,Value for money 😍
35,5,Best in the market!,Good Camera
36,5,Awesome,Best All rounder Mob phone I love i phone ❤️
37,5,Must buy!,1.Camera is excellent\n2. I love Iphone For it...
38,5,Wonderful,Finally purchased iphone 11 instead of XR and ...
39,4,Pretty good,Good product. Bought on a good deal. Been arou...
40,5,Wonderful,Amazing!!!\n\niPhone 11 is love.
41,5,Mind-blowing purchase,Awesome
42,5,Excellent,Awesome...🤩😍😍
43,5,Great product,"my 1st iphone,iphone 11 and xr also good in th..."

Q4: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” inthe search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [57]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashu_\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ashu_\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashu_\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [58]:
driver=webdriver.Chrome()

In [59]:
driver.get("https://www.flipkart.com")

In [60]:
sneakers_way=driver.find_element(By.CLASS_NAME,"Pke_EE")
sneakers_way.send_keys("sneakers")

In [61]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [62]:
Brand_name=[]
Product_Description=[]
Product_Price=[]

In [63]:
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in Brand_tags:
    Brand=i.text
    Brand_name.append(Brand)

In [64]:
Product_tags=driver.find_elements(By.XPATH,'//div[@class="hCKiGj"]')
for i in Product_tags:
    Product=i.text
    Product_Description.append(Product)

In [65]:
Price_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in Price_tags:
    Price=i.text
    Product_Price.append(Price)

In [66]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
search.click()

In [67]:
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in Brand_tags:
    Brand=i.text
    Brand_name.append(Brand)

Product_tags=driver.find_elements(By.XPATH,'//div[@class="hCKiGj"]')
for i in Product_tags:
    Product=i.text
    Product_Description.append(Product)

Price_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in Price_tags:
    Price=i.text
    Product_Price.append(Price)

In [68]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
search.click()

In [69]:
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in Brand_tags:
    Brand=i.text
    Brand_name.append(Brand)

Product_tags=driver.find_elements(By.XPATH,'//div[@class="hCKiGj"]')
for i in Product_tags:
    Product=i.text
    Product_Description.append(Product)

Price_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in Price_tags:
    Price=i.text
    Product_Price.append(Price)

In [70]:
print(len(Brand_name),len(Product_Description),len(Product_Price))

120 120 120

In [71]:
df=pd.DataFrame({'Brand':Brand_name,'Product':Product_Description,'Price':Product_Price})
df.head(100)

       Brand                                            Product   Price
0     lejano  lejano\nSneakers For Men\n₹449₹1,29965% off\nF...    ₹449
1     BRUTON  BRUTON\n! ComboPack of 2 !Casual Shoes! Sneake...    ₹480
2       NIKE  NIKE\nWinflo 10 Sneakers For Men\n₹3,912₹8,695...  ₹3,912
3      WROGN  WROGN\nSneakers For Men\n₹699₹1,99965% off\nFr...    ₹699
4     BRUTON  BRUTON\n2 Combo Sneaker Shoes Sneakers For Men...    ₹469
..       ...                                                ...     ...
95  WOODLAND  WOODLAND\nSneakers For Men\n₹1,587₹2,99547% of...  ₹1,587
96  WOODLAND  WOODLAND\nSneakers For Men\n₹1,746₹3,29547% of...  ₹1,746
97   Paragon  Paragon\nBlot K1221G Stylish Walking Outdoor D...    ₹649
98  Skechers  Skechers\nSIERRA - WINDY WAY Sneakers For Wome...  ₹3,199
99  Skechers  Skechers\nSKECH-AIR DYNAMIGHT - WINLY Sneakers...  ₹2,897

[100 rows x 3 columns]

Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image:
Aftersetting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [72]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashu_\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ashu_\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashu_\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [73]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [74]:
driver=webdriver.Chrome()

In [75]:
driver.get(" https://www.amazon.in/")

In [76]:
Purchase = driver.find_element(By.ID,"twotabsearchtextbox")
Purchase.send_keys('Laptop')

In [77]:
search=driver.find_element(By.CLASS_NAME,"nav-search-submit-text")
search.click()

In [78]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[2]/span/span[9]/li/span/a/span")
search.click()

In [79]:
Product_Title=[]
Product_Rating=[]
Product_Price=[]

In [80]:
Product_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in Product_tags:
    title=i.text
    Product_Title.append(title)

In [81]:
Product_tags=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
for i in Product_tags:
    Rating=i.text
    Product_Rating.append(Rating)

In [82]:
Product_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in Product_tags:
    Price=i.text
    Product_Price.append(Price)

In [83]:
print(len(Product_Title),len(Product_Price))

24 24

In [84]:
df=pd.DataFrame({'title':Product_Title,'Price':Product_Price})
df.head(10)

                                               title     Price
0  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...    59,990
1  Dell [Smartchoice] Inspiron 5430 Thin & Light ...    75,490
2  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    76,990
3  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...    49,990
4  ASUS Vivobook 15, 15.6" (39.62cm) FHD, Intel C...    61,990
5  Acer ALG 13th Gen Intel Core i7 Gaming Laptop ...    71,990
6  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...    55,990
7  (Refurbished) Dell Latitude 7480 14in FHD Lapt...    27,531
8  ASUS TUF Gaming F15, 15.6" (39.62cm) FHD 144Hz...  1,08,048
9  Dell Inspiron 3530 Laptop, 13th Generation Int...    69,890

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuote
3. Than scrap a)Quote b) Author c) Type Of Quotes

In [85]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashu_\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\users\ashu_\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashu_\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashu_\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ashu_\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashu_\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [86]:
import selenium
import pandas as pd
from selenium import webdriver
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [94]:
driver=webdriver.Chrome()

In [95]:
driver.get("https://www.azquotes.com/")

In [96]:
Quotes_az=[]
Author_az=[]
Types_of_Quotes=[]

In [97]:
Quotes_tags=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in Quotes_tags:
    Quotes=i.text
    Quotes_az.append(Quotes)

In [98]:
Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags:
    Author=i.text
    Author_az.append(Author)

In [99]:
Types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Author_tags:
    Quotes=i.text
    Types_of_Quotes.append(Quotes)

In [100]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
search.click()

In [101]:
Quotes_tags=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in Quotes_tags:
    Quotes=i.text
    Quotes_az.append(Quotes)

Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags:
    Author=i.text
    Author_az.append(Author)

Types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Author_tags:
    Quotes=i.text
    Types_of_Quotes.append(Quotes)

In [102]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
search.click()

In [103]:
Quotes_tags=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in Quotes_tags:
    Quotes=i.text
    Quotes_az.append(Quotes)

Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags:
    Author=i.text
    Author_az.append(Author)

Types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Author_tags:
    Quotes=i.text
    Types_of_Quotes.append(Quotes)

In [104]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
search.click()

In [105]:
Quotes_tags=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in Quotes_tags:
    Quotes=i.text
    Quotes_az.append(Quotes)

Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags:
    Author=i.text
    Author_az.append(Author)

Types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Author_tags:
    Quotes=i.text
    Types_of_Quotes.append(Quotes)

In [106]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
search.click()

In [107]:
Quotes_tags=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in Quotes_tags:
    Quotes=i.text
    Quotes_az.append(Quotes)

Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags:
    Author=i.text
    Author_az.append(Author)

Types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Author_tags:
    Quotes=i.text
    Types_of_Quotes.append(Quotes)

In [108]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
search.click()

In [109]:
Quotes_tags=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in Quotes_tags:
    Quotes=i.text
    Quotes_az.append(Quotes)

Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags:
    Author=i.text
    Author_az.append(Author)

Types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Author_tags:
    Quotes=i.text
    Types_of_Quotes.append(Quotes)

In [110]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
search.click()

In [111]:
Quotes_tags=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in Quotes_tags:
    Quotes=i.text
    Quotes_az.append(Quotes)

Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags:
    Author=i.text
    Author_az.append(Author)

Types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Author_tags:
    Quotes=i.text
    Types_of_Quotes.append(Quotes)

In [112]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
search.click()

In [113]:
Quotes_tags=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in Quotes_tags:
    Quotes=i.text
    Quotes_az.append(Quotes)

Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags:
    Author=i.text
    Author_az.append(Author)

Types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Author_tags:
    Quotes=i.text
    Types_of_Quotes.append(Quotes)

In [114]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
search.click()

In [115]:
Quotes_tags=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in Quotes_tags:
    Quotes=i.text
    Quotes_az.append(Quotes)

Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags:
    Author=i.text
    Author_az.append(Author)

Types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Author_tags:
    Quotes=i.text
    Types_of_Quotes.append(Quotes)

In [116]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
search.click()

In [117]:
Quotes_tags=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in Quotes_tags:
    Quotes=i.text
    Quotes_az.append(Quotes)

Author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in Author_tags:
    Author=i.text
    Author_az.append(Author)

Types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Author_tags:
    Quotes=i.text
    Types_of_Quotes.append(Quotes)

In [119]:
print(len(Author_az),len(Types_of_Quotes))

1000 1000

In [120]:
df=pd.DataFrame({'Author':Author_az,'Quotes':Types_of_Quotes})
df

                 Author              Quotes
0        Michael Porter      Michael Porter
1            Golda Meir          Golda Meir
2    Theodore Roosevelt  Theodore Roosevelt
3        Nelson Mandela      Nelson Mandela
4          Erma Bombeck        Erma Bombeck
..                  ...                 ...
995    Sydney J. Harris    Sydney J. Harris
996  Hunter S. Thompson  Hunter S. Thompson
997            Jim Rohn            Jim Rohn
998            Ram Dass            Ram Dass
999            Plutarch            Plutarch

[1000 rows x 2 columns]